* {
	margin: 0 !important;
	padding: 0 !important;
}

body {
	background-color: rgb(84, 57, 107);
}

canvas {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	user-select: none;
}